* {
    margin: 0;
    padding: 0;
  }
  
  body{
    margin: 0;
    background-image: url(./purple.jpeg);
    height: 100%;
    background-size: cover;
    width: 100%;
}
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .form {
    max-width: 5000px;
    margin: 0 auto;
    flex-direction: column;
    background: primary;
    padding: 30px;
    margin-top: 30px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }
  